/* ############# Tablet Optimization ########### */

@media (max-width: 1200px) {

    header,
    section,
    main,
    footer {
        margin: 0 40px;
    }
    
        /* ##### GRID-CONTAINER ##### */
    
    .sub-grid-container-right,
    .sub-grid-container-left {
        grid-template-areas: 
        " picture picture"
        "german english ";
        grid-template-columns: repeat(2, 1fr);
    }
    
        /* ##### CARDS ##### */
    
    .cards {
        max-width: 100%;
    }
    
    .cards-picture img {
        max-height: 200px;
    }

    .cards-german,
    .cards-english {
        justify-content: center;
        align-items: flex-start;
    }
    
    .german-cards2,
    .english-cards2 {
        max-width: 40%;
        margin: 15px 0;
        padding: 15px 0;
    }
    
        
    /* *** HEADER *** */

    header {
        padding-top: 30px;
    }
    
    header nav {
        width: 25%;
    }
    
    header #links {
        font-size: 11px;
     }
    
    header #logo {
        max-height: 80px;
    }
    
    header #social-media-logos {
        width: 25%;
    }
    
    header #IG {
        max-height: 30px; 
    }
    
    header #etsy {
        max-height: 30px;
    }
    
    /* *** SUBHEADER SECTION *** */
    
    .subheader img{
        max-width: 160px;
    }
    
    #left-image {
        border-radius: 120px 5px 10px 5px;
    }
    
    #right-image {
        border-radius: 5px 120px 5px 10px;
    }
    
    /* *** HERO SECTION *** */
    
    section {
        margin-top: 35px;
    }
    
    section h1 {
        font-size: 22px;
    }
    
    section h2 {
        font-size: 19px;
    }
    
    /* *** MAIN SECTION *** */
    
    /* * DESCRIPTION * */
    
    .description {
        flex-direction: column;
        align-items: center;
        margin: 0;
     }

    .description img {
        min-width: 300px;
        min-height: 300px;
        max-width: 350px;
        max-height: 350px;
    } 
    
     .description h3 {
        right: 10px;
        font-size: 30px;
        text-align: center;
     }
    
    .german-text,
    .english-text {
        width: 80%;
        text-align: center;
    }

    .description ul {
        display: inline-block;
        text-align: left;
        margin: 0 auto;
        padding-left: 1.2em; /* optional, für Bullet-Einrückung */
      }

    .description li {
        text-align: left;
      }
    
    /* * GENERAL INFORMATION* */
    
    .printer,
    .cleaning,
    .postprocessing,
    .curing,
    .finished,
    .shipping {
        align-self: center;
    }
    
    /* *** FOOTER *** */
    
    footer {
        margin: 0 auto;
    }
    
    footer .contact {
        flex-direction: column; 
        margin: 10px 10px;
        font-size: 14px;
    }
    
    
    #portrait-footer {
        align-self: flex-start;
        max-width: 120px;
        border-radius: 65px 0;
    }
    
    #logo-footer {
        max-width: 120px;
    }
    
    .copyright {
        font-size: 14px;
    }    
}