/* ############# Tablet Optimization ########### */

@media (max-width: 1000px) {

    header,
    section,
    main,
    footer {
        margin: 0 40px;
    }
    
        /* ##### GRID-CONTAINER ##### */
    
    .grid-container {
        display: grid;
        grid-template-areas: 
        "header header header"
        "subheader subheader subheader"
        "hero hero hero"
        "main main main"
        "footer footer footer";
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }
    
    .sub-grid-container-right {
        grid-template-areas: 
        " picture picture"
        "german english ";
        grid-template-columns: repeat(2, 1fr);
    }
    
    .sub-grid-container-left {
        grid-template-areas: 
        " picture picture"
        "german english ";
        grid-template-columns: repeat(2, 1fr);
    }
    
        /* ##### CARDS ##### */
    
    .cards {
        
        border-radius: 24px;
        /*width: 1240px;*/
        max-width: 100%;
        margin: 15px 0;
    }
    
    .cards2 {
        background-color: #FFFFFF;
        border-radius: 24px;
        box-shadow:0 2px 24px rgba(0, 0, 0, 0.05);
        max-width: 100%;
        margin: 15px 0;
    }
    
    .cards2 p {
        margin: 15px;
    }
    
    .cards-german {
        grid-area: german;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }
    
    .cards-english {
        grid-area: english;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }
    
    .cards-picture {
        grid-area: picture;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cards-picture img {
        max-height: 200px;
        margin: 15px 15px;
        align-self:center;
        border-radius: 200px;
        box-shadow:0 2px 24px rgba(0, 0, 0, 0.05);
    }
    
    .cards2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .german-cards2 {
        max-width: 100%;
        margin: 15px 0;
        padding: 15px 0;
       /* position: relative;
        top: 30px; */
    }
    
    .english-cards2 {
        max-width: 100%;
        margin: 15px 0;
        padding: 15px 0;
    }
    
        
    /* *** HEADER *** */
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: header;
        margin-top: 30px;
    }
    
    header nav {
        width: 35%;
    }
    
    header #Links {
       display: flex;
       justify-content: flex-start;
       text-align: left;
       align-items: center;
     }
    
     header #Links a:hover {
        color: slategray
     }
    
    header #Links ul {
        margin-right: 10%;
        font-size: 12px;
        line-height: 19px;
    
     }
    
    header #logo {
        max-height: 80px;
    }
    
    header #IG-Logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
    }
    
    header #IG {
        max-height: 40px; 
    }
    
    header #etsy {
        max-width: 60px;
        margin-left: 15px;
        position: relative;
        top: 3px;
    }
    
    /* *** SUBHEADER SECTION *** */
    
    .subheader img{
        max-width: 160px;
    }
    
    #battlebrother {
        border-radius: 120px 5px 10px 5px;
    }
    #jules {
        border-radius: 5px 120px 5px 10px;
    }
    
    /* *** HERO SECTION *** */
    
    section {
        grid-area: hero;
        text-align: center;
        margin-top: 35px;
     }
    
     section h1 {
        font-size: 22px;
     }
    
     section h2 {
        font-size: 19px;
     }
    
     /* *** MAIN SECTION *** */
    
     /* * DESCRIPTION * */
    
    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
     }
    
     .description h3 {
        font-size: 30px;
        text-align: center;
     }
    
    .german-text {
        flex-direction: column;
        width: 80%;
        padding: 0 20px 20px 20px;
    }
    
    .description img {
        max-height: 350px;
    }
    
    .english-text {
        flex-direction: column;
        width: 80%;
        padding: 0 20px 20px 40px;
    }
    
    /* * GENERAL INFORMATION* */
    
    .information {
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #general-information {
        text-align: center;
    }
    
    .printer {
        align-self: center;
    }
    
    .cleaning {
        align-self: center;
    }
    
    .postprocessing {
        align-self: center;
    }
    
    .curing {
        align-self: center;
    }
    
    .finished {
        align-self: center;
    }
    
    .shipping {
        align-self: center;
    }
    
    .further-information {
        margin-bottom: 50px;
    }
    
    /* *** FOOTER *** */
    
    footer {
        margin: 0 auto;
    }
    
    footer .contact {
        font-size: 14px;
    }
    
    
    #portrait-footer {
        max-width: 120px;
        border-radius: 80px 0;
    }
    
    #logo-footer {
        max-width: 120px;
    }
    
    .copyright {
        font-size: 14px;
    }
    
    }