/* ############# Smartphone Optimization ########### */

@media (max-width: 700px) {

    header,
    section,
    main,
    footer {
        margin: 0 30px;
    }
    
        /* ##### GRID-CONTAINER ##### */
    
    .sub-grid-container-left,
    .sub-grid-container-right {
        grid-template-areas: 
        " picture"
        "german"
        "english";
        grid-template-columns: repeat(1, 1fr);
    }
    
        /* ##### CARDS ##### */
    
    .cards {
        font-size: 12px;
    }   

    .cards p {
        width: 100%;
    }
    
    .cards-german,
    .cards-english {
        margin: 0 14px;
    }
    
    .cards-picture img {
        max-height: 125px;
    }

    .cards2 {
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
    }
    
    .cards2 p {
        margin: 15px;
    }
    
    .cards2 h3 {
        font-size: 15px;
    }

    .german-cards2,
    .english-cards2 {
        max-width: 95%;
        margin: 5px 0;
        padding: 5px 0;
    }
    
        
    /* *** HEADER *** */
    
    header {
        padding-top: 10px;
        width: 100%;
        margin: auto;
    }
    
    header nav {
        margin-left: 10px;
    }
    
    header #links {
        font-size: 10px;
     }
    
    header #logo {
        max-height: 70px;
    }
    
    header #social-media-logos {
        margin-right: 10px;        
    }
    
    header #IG {
        max-height: 20px; 
    }
    
    header #etsy {
        max-height: 20px;
        margin-left: 5px;
    }
    
    /* *** SUBHEADER SECTION *** */
    
    .subheader-title h3 {
        font-size: 16px;
    }
    
    .subheader-title h4 {
        font-size: 14px;
    }
    
    .subheader img{
        max-width: 85px;
    }
    
    #left-image {
        border-radius: 65px 5px 10px 5px;
    }
    
    #middle-image {
        border-radius: 5px 5px 10px 10px;
    }
    
    #right-image {
        border-radius: 5px 65px 5px 10px;
    }
    
    /* *** HERO SECTION *** */
    
    section {
        margin-top: 10px;
     }
    
     section h1 {
        font-size: 20px;
     }
    
     section h2 {
        font-size: 17px;
     }
    
     /* *** MAIN SECTION *** */
    
     /* * DESCRIPTION * */
    
    .description {
        justify-content: space-between;
        margin: auto;
        width: 100%;
     }

    .description img {
        min-width: 200px;
        min-height: 200px;
        max-width: 300px;
        max-height: 300px;
        margin: 20px 0 10px 0;
    }
    
    .german-text,
    .english-text {
        width: 100%;
        padding: 0 5px 5px 5px;
        font-size: 14px;
    }
    
    .german-text h3 {
        font-size: 22px;
    }
    
    .english-text h3 {
        font-size: 22px;
        right: 10px;
    }
    
    /* * GENERAL INFORMATION* */
    
    .information h3 {
        font-size: 14px;
        margin: 5px auto;
    }
    
    .further-information {
        margin-bottom: 25px;
    }
    
    /* *** FOOTER *** */

    footer {
        margin: 0 auto;
    }
    
    footer .contact {
        font-size: 12px;
    }
    
    #portrait-footer {
        max-width: 100px;
        border-radius: 50px 0;
        margin-right: 0px;
    }
    
    #logo-footer {
        max-width: 100px;
        border-radius: 10px;
        margin: 25px 0;
    }
    
    .copyright {
        margin: 10px;
        font-size: 12px;
    }    
}